* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

#container {
    height: 400px;
    width: 300px;
    border-radius: 15px;
    background-color: azure;
    text-align: center;
}

#container img{
    height: 380px;
    width: 280px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#container i{
    font-size: 75px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.3s;
}